@import "tailwindcss";

@theme {
    --font-sans: 'Poppins', sans-serif;
}

body {
    @apply bg-white text-gray-800 text-sm antialiased;
}

@layer components {
    .glass {
        @apply bg-gray-100/60 border border-gray-200/80 backdrop-blur;
    }

    .btn {
        @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-white transition hover:opacity-90 active:scale-98;
    }
}